body { overflow-y:hidden; }

#info	 { position:absolute; bottom:120px; left:0px; z-index:1; display:block; font-family:verdana, helvetica; font-size:14px; white-space:nowrap; margin-left:400px; }
#lead	 { position:absolute; bottom:50px; left:0px;  z-index:1; display:block; font-family:verdana, helvetica; font-weight:bold; font-size:16px; white-space:nowrap; margin-left:400px; }

#scenery { position:absolute; top:0px; left:0px; white-space:nowrap; z-index:-1; margin:0px; padding:0px; }
.scene 	{ margin:0px; padding:0px; z-index:-1; height:100%; display:inline; }
.studioschot { margin:0px; padding:0px; height:100%; }

#birds1 { position:relative; top:10px;	 left:-300px; }
#birds2 { position:relative; top:50px;	 left:280px; }
#birds3 { position:relative; top:10px;	 left:100px; }

#ducks1 { position:relative; top:0px;  	 left:20px; }
#ducks2 { position:relative; top:-30px;  left:50px; }
#ducks3 { position:relative; top:-180px; left:180px; }


.virtual { position:absolute; border:1px solid #000; z-index:5; }
.scrolls { position:absolute; z-index:5; }
#clock1  	{ width:200px; height:200px; top:80px; left:1570px; }
#flowerpot1 	{ width:200px; height:200px; top:400px; left:1900px; }
#ducks		{ width:980px; height:600px; top:0px; right:0px; /*overflow:hidden;*/ }
#birds		{ width:980px; height:600px; top:0px; right:400px; /*overflow:hidden;*/ }

#bubble  { background-color:rgba(255,255,255,0.6); border:1px solid #333; border-radius:5px; width:200px; height:100px; padding:10px; z-index:10000}